@model OnlineStore.Models.ViewModels.OrderViewModel
@using OnlineStore.Models.Enums;
@{
    ViewData["Title"] = Localizer["UpdateOrderStatus"];
}

<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">@Localizer["UpdateOrderStatus"]</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item">
            <a asp-area="Dashboard" asp-controller="Order" asp-action="Index">@Localizer["Orders"]</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">@Localizer["UpdateOrderStatus"]</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="app-content">
  <div class="container-fluid">
    <div class="card card-primary card-outline mb-4">
      <form asp-area="Dashboard" asp-controller="Order" asp-action="Edit" asp-route-id="@Model.Id" method="POST">
        @Html.AntiForgeryToken()
        <div class="card-body">
          <div class="row g-3">

            <!-- Transaction Id -->
            <div class="col-md-6">
              <label asp-for="ReferenceNumber" class="form-label">@Localizer["TransactionId"]</label>
              <input readonly asp-for="ReferenceNumber" class="form-control" />
            </div>

            <!-- Order Status -->
            <div class="col-md-6">
              <label asp-for="OrderStatus" class="form-label">@Localizer["OrderStatus"]</label>
              <select asp-for="OrderStatus" class="form-select" asp-items="Html.GetEnumSelectList<OrderStatus>()">
                <option value="">@Localizer["SelectStatus"]</option>
              </select>
              <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
          </div>

          <!-- Buttons -->
          <div class="mt-4 text-end">
            <button type="submit" class="btn btn-success px-4">
              <i class="bi bi-check-circle"></i> @Localizer["UpdateStatus"]
            </button>
            <a asp-area="Dashboard" asp-controller="Order" asp-action="Index" class="btn btn-secondary ms-2">
              <i class="bi bi-arrow-left"></i> @Localizer["Cancel"]
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
