@model OnlineStore.Models.ViewModels.RoleViewModel
@{
    ViewData["Title"] = Localizer["RoleDetails"];
}

<div class="app-content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item">
                        <a asp-area="Dashboard" asp-controller="Role" asp-action="Index">@Localizer["Roles"]</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="app-content">
    <div class="container-fluid">
        <div class="card card-primary card-outline mb-4">
            <div class="card-body">
                <div class="row g-3">

                    <!-- Name En -->
                    <div class="col-md-6">
                        <label asp-for="NameEn" class="form-label">@Localizer["NameEn"]</label>
                        <input readonly asp-for="NameEn" class="form-control" />
                    </div>

                    <!-- Name Ar -->
                    <div class="col-md-6">
                        <label asp-for="NameAr" class="form-label">@Localizer["NameAr"]</label>
                        <input readonly asp-for="NameAr" class="form-control" />
                    </div>

                    <!-- Description En -->
                    <div class="col-md-6">
                        <label asp-for="DescriptionEn" class="form-label">@Localizer["DescriptionEn"]</label>
                        <textarea readonly asp-for="DescriptionEn" class="form-control"></textarea>
                    </div>

                    <!-- Description Ar -->
                    <div class="col-md-6">
                        <label asp-for="DescriptionAr" class="form-label">@Localizer["DescriptionAr"]</label>
                        <textarea readonly asp-for="DescriptionAr" class="form-control"></textarea>
                    </div>

                    <!-- Slug -->
                    <div class="col-md-6">
                        <label asp-for="Slug" class="form-label">@Localizer["Slug"]</label>
                        <input readonly asp-for="Slug" class="form-control" />
                    </div>

                    <!-- Permissions -->
                    <div class="col-12">
                        <h6>@Localizer["Permissions"]</h6>
                    </div>
                    @foreach (var permission in Model.Permissions)
                    {
                        <div class="col-lg-3 col-md-4">
                            <input type="checkbox" checked disabled>
                            <label class="form-label">@permission.Name</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}