@model OnlineStore.Models.Dtos.Requests.LoginDto



@{
    Layout = "~/Areas/Dashboard/Views/Shared/_Auth.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><img width="190" src="~/dashboard/img/logo.png" /></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">@Localizer["SignInMessage"]</p>
            <form asp-action="SignIn" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="@Localizer["Email"]" asp-for="Email" />
                    <div class="input-group-text"><span class="bi bi-envelope"></span></div>
                </div>

                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="@Localizer["Password"]" asp-for="Password" />
                    <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
                </div>

                <!--begin::Row-->
                <div class="row">
                    <div class="col-8">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                            <label class="form-check-label" for="flexCheckDefault"> @Localizer["RememberMe"] </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">@Localizer["SignIn"]</button>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!--end::Row-->
            </form>

            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div style="color:red">@error.ErrorMessage</div>
            }

            <!-- /.social-auth-links -->
            <p class="mb-1"><a href="forgot-password.html">@Localizer["ForgotPassword"]</a></p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
